body{
  margin: 0 auto;
  display: block;
}
.app {
  /* display: flex; */
  height: 650px;
}

.headings {
  /* display: flex; */
  text-align: center;
}

.brush-selection {
  height: 70px;
  padding: 0;
  margin: 0;
  /* display: flex; */
}

.paint {
  height: 50px;
  /* display: flex;
  justify-content: center; */
}

.palette {
  display: flex;
  justify-content: center;
  margin-left: -30px;
}

.brush {
  display: flex;
  justify-content: center;

}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.canvas {
  display: grid;
  margin: 0 auto;
  grid-template-rows: repeat(75, 1fr);
  grid-template-columns: repeat(75, 1fr);
  height: 500px;
  width: 500px;
  border: 2px solid black;
}
.canvas:hover{
  cursor: crosshair;
}

.square {
  transition: 0.3s;
}

.color-1 {
  background-color: rgb(0, 217, 255);

}

.color-2 {
  background-color: red;
}

.color-3 {
  background-color: rgb(0, 119, 20);
}

.color-4 {
  background-color: rgb(255, 0, 242);

}

.color-5 {
  background-color: rgb(115, 255, 0);

}

.color-6 {
  background-color: rgb(31, 31, 31);

}

.color-7 {
  background-color: rgb(55, 34, 243);

}

.color-8 {
  background-color: rgb(255, 251, 1);

}
.color-9 {
  background-color: rgb(255, 255, 255);

}

.canvas-n-mode{
  display: block;
}

.square .dark-canvas{
  background-color: rgb(10, 10, 10);
}

.darkmode .color-1{
  background-color: rgb(87, 136, 226);
}
.darkmode .color-2{
  background-color: rgb(185, 72, 72);
}
.darkmode .color-3{
  background-color: rgb(6, 160, 6);
}
.darkmode .color-4{
  background-color: rgb(118, 53, 124);
}
.darkmode .color-5{
  background-color: limegreen;
}
.darkmode .color-6{
  background-color: rgb(255, 255, 255);
}
.darkmode .color-7{
  background-color: rgb(23, 7, 172);
}
.darkmode .color-8{
  background-color: rgb(159, 170, 6);
}
.darkmode .color-9{
  background-color: rgb(17, 17, 17);
}

.dark-mode{
  font-size: 20px;
  background-color: rgb(27, 27, 49);
  color: white;
  margin: 10px;
}
.clear{
  font-size: 20px;
  margin: 10px;
}
.dmButton{
  display: flex;
  justify-content: center;
  text-align: center;
  user-select: none;
}
.dmButton button{
  border-radius: 5px;
  border: 1px solid rgb(13, 14, 27);
}

.dmButton button:hover{
  cursor: pointer;
}
